<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/page.css">
    </head>
    <body>
        <%- include("nav-bar")%>
        <h1>Thank you for your message!</h1>
    </body>
</html>