<!DOCTYPE html>
<html>
    <head>
        <title>Justin Yen</title>
        <script type="module" src="/javascripts/page-setup.js" defer></script>
        <script type="module" src="/javascripts/page.js" defer></script>
        <link rel="stylesheet" href="/stylesheets/page.css">
    </head>
    <body>
        <%- include("nav-bar")%>
        <div id="title-page">
            <h1>Justin Yen</h1>
            <h2>Computer Science Student at ASU's Barrett, the Honors College</h2>
        </div>
        <div id="education">
            <h1>Education</h1>
            <h2>Arizona State University</h2>
        </div>
        <div id="skills">

        </div>
        <div id="work-experience">

        </div>  
        <div id="projects">

        </div>
    </body>
</html>