<div id="nav-bar">
    <a href="./">Home</a>
    <a href="https://github.com/JustinZYen">Github</a>
    <a href="https://www.linkedin.com/in/justin-yen-77a2a52a5/">LinkedIn</a>
    <a href="./contact">Contact Me (doesn't work)</a>
</div>