<div id="nav-bar">
    <a href="/" class="nav-button">Home</a>
    <a href="https://github.com/JustinZYen" class="nav-button">Github</a>
    <a href="https://www.linkedin.com/in/justin-yen-77a2a52a5/" class="nav-button">LinkedIn</a>
    <a href="/contact" class="nav-button">Contact Me</a>
</div>