.main > section {
    padding: 0px 20px;
}

.main > section * {
    padding: 0;
}

.main > section {
    display: flex;
    justify-content: space-evenly;
}

.main > section:nth-child(odd) {
    flex-direction: row;
}

.main > section:nth-child(even) {
    flex-direction: row-reverse;
}

h1 {
    font-size:50pt;
    margin:0
}

h2 {
    font-size:30pt;
    margin:0
}


#title-page {
    background:linear-gradient(gray,80%,rgba(0, 0, 0, 0));
    padding: 20px; 
    height: calc(100vh - var(--nav-bar-height));
    display:flex;
    align-items:end;
    flex-direction: row;
}

#title-page > img {
    align-self:self-start;
    height: 100%;
}

#skills li{
    display:inline-block;
}

#skills li::after {
    content:" ○";
}
#skills li:last-child:after {
    content:"";
}
#skills li img {
    height: 20px;
}