

* {
    box-sizing: border-box;
    font-family: "Baloo Paaji 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20;
    font-style: normal;
}

body {
    background-color: gainsboro;
}

#nav-bar {
    position: sticky;
    background-color: goldenrod;
    display: flex;
    flex-direction: row;
    height: 50px;
}

#nav-bar .nav-button {
    flex: 1;
    font-size: 30px;
    display: flex;
    flex-direction: row;
}

#title-page {
    background-color: green;
}

.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__layer--base {
    transform: translateZ(0);
}

.parallax__layer--back {
    transform: translateZ(-1px);
}